<!DOCTYPE html>
<html>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>

		<a class="brand" href="http://yaledigest.com">Yale Digest</a>

		<div class="nav-collapse collapse">
			<ul class="nav">
				<li class=""><a href="/feeds/home">News</a></li>
				<li class="active"><a href="/feeds/discover">Discover</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Filters<b class="caret"></b></a>
					<ul id="filters" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><button type="button" class="btn"  id="showAll" href="#">Hide All</a></li>
            <li><label><input checked type="checkbox" id="YaleScientific" tabindex="-1" href="#">Yale Scientific</label></li>
            <li><label><input checked type="checkbox" id="ThePolitic" tabindex="-1" href="#">The Politic</a></li>
            <li><label><input checked type="checkbox" id="BroadRecognition" tabindex="-1" href="#">Broad Recognition</a></li>
            <li><label><input checked type="checkbox" id="LightandTruth" tabindex="-1" href="#">Light and Truth</a></li>
            <li><label><input checked type="checkbox" id="TheNewJournalatYale" tabindex="-1" href="#">New Journal</a></li>
            <li><label><input checked type="checkbox" id="QMagazine" tabindex="-1" href="#">Q Magazine</label></li>
            <li><label><input checked type="checkbox" id="YaleEconomicReview" tabindex="-1" href="#">Yale Economic Review</label></li>
            <li><label><input checked type="checkbox" id="YaleEpicurean" tabindex="-1" href="#">Yale Epicurean</label></li>
            <li><label><input checked type="checkbox" id="TheGlobalist" tabindex="-1" href="#">The Globalist</label></li>
            <li><label><input checked type="checkbox" id="TheYaleJournalofPH" tabindex="-1" href="#">Yale Journal of Public Health</label></li>
            <li><label><input checked type="checkbox" id="YaleJournalofMedicineandLaw" tabindex="-1" href="#">Yale Journal of Medicine and Law</label></li>
            <li><label><input checked type="checkbox" id="YaleUGLawReview" tabindex="-1" href="#">Yale Undergraduate Law Review</label></li>
            <li><label><input checked type="checkbox" id="YaleRumpus" tabindex="-1" href="#">Yale Rumpus</label></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-search pull-right">
				<input id="search" type="text" class="search-query" placeholder="Search">
			</form>
		</div>
	</div>
</div>	
</div>


<div id="board" class="container">
	<ol class="listing">
		<% i = 0 %>
		<% @articles.each do |article| %>
			<% src = case article["source"] 
					when "Yale Scientific" then "success"
					when "The Yale Journal of PH" then "success"
					when "Yale Journal of Medicine and Law" then "success"
					when "The Politic" then "info"
					when "The Globalist" then "important"
					when "Yale UG Law Review" then "info"
					when "Light and Truth" then "info"
					when "Yale Economic Review" then "important"
					when "Yale Epicurean" then "warning"
					when "Yale Rumpus" then "warning"
					when "The New Journal at Yale" then "inverse"
					else "default"
					end
			%>

			<li class="<%= article["source"].delete(' ') %>">
			<a  id="link<%= i %>" href="#link<%= i - 2%>" data-toggle="collapse" data-target="#desc<%= i %>">
				<%= article["title"] %>
			</a>
			<span class="label label-<%= src %>"><%= article["source"] %></span>
			<p id="desc<%= i %>" class="collapse">
			<small><%= article["pubdate_s"] %></small> - 
				<%= strip_tags(article["description"]).html_safe %>
				<% readMoreLink = (article["content"].empty? ? article["link"] : "#content#{i}")%>
				<a href="<%= readMoreLink %>" data-toggle="modal">[Read more]</a>
			</p>
			<div id="content<%= i %>" class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<a href="<%= article["link"] %>"><%= article["title"] %></a> 
				</div>
				<div class="modal-body">
					<%= article["content"].html_safe %>
				</div>
			</div>
			</li>
			<% i += 1 %>
		<% end %>
	</ol>
	<hr>

</div>
</body>
